*{
    text-decoration: none;
    font-family: 'Readex Pro', sans-serif;
    
}

.navbar-custom{
    background-color: #f5f5ef !important;
}

.nav-link{
    color: #C59D44 !important;
}

.footer{
    background-color: #f5f5ef;
    color:#C59D44;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
}

.lien-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.lien-footer a{
    color: #C59D44;
    text-decoration: none; 
      
}

a:hover{
    color: brown !important;
}

.social_media{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social_media a {
    padding: 10px;
}

.copyright{
    background-color: #f5f5ef;
    color: #C59D44 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.btn{
    background-color: #C59D44 !important;
}